@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {
  * {
    font-family: "Montserrat", sans-serif;
  }

  body {
    background-color: #edeff3;
    overflow-x: hidden;
  }
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
  }

  .btn-primary {
    @apply w-full text-sm bg-blue-600 font-bold tracking-wider
 text-white rounded p-3 my-2 hover:bg-blue-800;
  }

  .ico-btn {
    @apply text-xl text-slate-300 cursor-pointer hover:text-blue-600;
  }
  .input-label {
    @apply text-xs text-slate-400;
  }
}
